/*BLOG-LIST*/

//imports
@import "card";

//includes
@include card;

.blog-list {
    padding: 0.5rem 2rem 0 0;
    margin: -1rem;
    .col {
        flex: 0 1 50%;
        padding: 0.5rem;
    }
    @media (max-width: 768px) {
           padding: 0; 
           margin: 0 0 2rem;
    }
}

