.main-menu {
    padding: 0 0 0 1rem;
    >ul {
        display: flex;
        >li {
            padding: 1rem 0.5rem;
            position: relative;
            font-weight: bold;
            ul{
                position: absolute;
                top: -1000px;
                background-color: white;
                >li {
                    font-weight: normal;
                }
            }
            &:hover ul {
                top: 3rem;
                padding: 0.75rem 1rem
            }
        }
        @media (max-width: 768px) {
            display: none;
        }
    }
    input.hamburger {
        @media (min-width: 768px) {
            display: none;
        }
    }
    input#main-menu-label:checked ~ ul {
        display: flex;
    }
}